.whatsnew {
  padding-left: 20%;
}

.helpdesk, .time {
  padding-left: 41%;
}

.whatsnew, .quicklinks {
  padding-top: 3%;
}

 .dashboard {
   padding-top: 5%;
   padding-left: 45%;
 }

 .tab4 {
   tab-size: 8;
  }
