.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tile{
    position: relative;
    background-color: #fff;
    display: flex;
    min-height: 10.5rem;
    width: 20rem;
    text-align: center;
    padding-top: 60px;
    flex-direction: column;
    font-size: large;
}

.tile__header{
    font-size:large;
    font-weight: 600;
    word-wrap: break-word;
}
